<div class="row overlap-span1 span14">
  
  <div class="span4-5 favorite-square">
    <div class="favorite-container">
      <h2>U.N. suspends peace mission in Syria due to uptick in violence</h2>
    </div>
  </div>
  
  <div class="span4-5 favorite-square">
    <div class="favorite-container favorite-image">
      <h2>Tiger Woods in contention at the Open</h2>
    </div>
  </div>
  
  <div class="span4-5 favorite-square">
    <div class="favorite-container">
      <h2>Packers are the favorites to win it all in 2012</h2>
    </div>
  </div>
  
</div>