@import 'twitter/bootstrap/mixins';

.span4-5 {
	width: 330px;
}

.span14 {
	width: 1060px;
}

a:link {
	.transition(color .2s linear);
}

a:hover {
	.transition(color .2s linear);
}

.links {
	li {
		display: inline;
	}
}

body {
	background-color: #333;
}

header {
	background-color: #3A87AD;
	color: white;
	padding: 24px 0 64px 0;
	position: relative;
	.container {
		position: relative;
	}
	h1 {
		text-shadow: 0 -1px 7px #BCE8F1;
		font-family: 'Crafty Girls', cursive;
	}
	.links {
		position: relative;
		top: 16px;
		margin-right: 12px;
		li {

		}
		a:link {
			background-color: #27506E;
			color: #ccc;
			padding: 6px 12px;
		}
		a:hover {
			text-decoration: none;
			color: white;
		}
	}
}

.header-marco {
	width: 309px;
	height: 190px;
	position: absolute;
	top: -130px;
	left: 280px;
	z-index: 0;
}

footer {
	padding: 12px 0;
	.links {
		a:link {
			color: #999;
			font-weight: bold;
			padding: 4px;
		}
		a:hover {
			text-decoration: none;
			color: white;
		}
	}
}

.content {
	position: relative;
	margin-top: -48px;
}

.content-container {
	padding: 36px 0;
	background-color: white;
	min-height: 600px;
}

.nav-tabs {
	background: #999;
	margin-bottom: 0;
	li {
		a {
			padding: 16px 16px;
			padding-bottom: 15px;
			border: none;
			font-size: 16px;
			font-weight: bold;
			color: #666;
			position: relative;
			z-index: 1;
		}
		a:hover {
			.border-radius(0);
		}
		&.active {
			a {
				border: none;
				.border-radius(0);
			}
			a:hover {
				border: none;
			}
		}
	}
}

.favorite-square {
	.favorite-container {
		padding: 8px;
		min-height: 300px;
		.border-radius(10px);
		background-color: white;
		.box-shadow(0 0 5px #999);
	}
	.favorite-image {
		background-image: url(/assets/twoods.jpg);
		color: white;
		text-shadow: 0 1px 1px #000;
		border: 1px solid transparent;
	}
}

.overlap-span1 {
	margin-left: -68px;
}